body{
    background-image: url(../images/background2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

h1{
    color: white;
}

ul {
    list-style-type: none;
}

p{
    color: white;
}

.studentid{
    color: white;
}

.addfriend{
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    margin-left: 160px;
}

.addfriendform{
    max-width: 300px;
    padding: 10px;
    background-color: black;
}

.addfriend h1{
    color: white;
}

.addfriend label{
    color: white;
}

.newroom{
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    margin-left: 160px;
}

.newroomform{
    max-width: 300px;
    padding: 10px;
    background-color: black;
}

.newroom h1{
    color: white;
}

.newroom label{
    color: white;
}

.edit{
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    margin-left: 160px;
}

.editform{
    max-width: 300px;
    padding: 10px;
    background-color: black;
}

.edit h1{
    color: white;
}

.edit label{
    color: white;
}

.side {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.side a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
}

.side a:hover {
    color: #f1f1f1;
}

.side li{
    color: white;
}

.chatarea{
    margin-left: 160px;
    display: none;
}

.displayarea {
    content: '';
    width: 80%;
    height: calc(100vh - 165px);
    background: black;
    padding: 5px 10px;
  }

.inputarea{
    width: 80%;
}

.displayarea p {
    margin: 0 0 5px 0;
  }

  .groupfriendarea{
    height: 70%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 50px;
    right: 0;
    background-color: purple;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .view{
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    margin-left: 160px;
}

.viewRecords{
    max-width: 300px;
    padding: 10px;
    background-color: black;
}


.mute{
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    margin-left: 160px;
}

.muteUsers{
    max-width: 300px;
    padding: 10px;
    background-color: black;
}

.sendImages {
	width: 12rem;
	margin-left: 14px;
}

.avatar {
	width: 2.2rem;
	height: 2.2rem;
	margin-left: 14px;
}
