body{
    background-image: url(../images/background1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

h2{
    color: white;
    text-align: center;
}

img{
    position: relative;
    height: 350px;
    width: 350px;
    margin: -20px 0 0 620px;
}

.form-group{
    text-align: center;
    padding: 14px 40px;
}

.textbox{
    text-align: center;
    width: 278px;
    height: 18px;
    margin-bottom: 10px;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    border-top: 1px solid #312E3D;
    border-left: 1px solid #312E3D;
    border-right: 1px solid #312E3D;
    border-bottom: 1px solid #56536A;
    border-radius: 4px;
    background-color: #2D2D3F;;

}

.button{
    padding: 12px 20px;
    width: 300px;
    min-height: 20px;
    background-color: #4a77d4;
    border: 1px solid #3762bc;
    color: #fff;
    font-size: 15px;
    line-height: normal;
    border-radius: 5px;
    margin: 0;
}


