body{
    background-image: url('/images/background1.png');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
  }
  h1{
    color: white;
    text-align: center;
  }
  img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
  }
  .text-center {
    text-align: center;
  }

  .button1{
    padding: 14px 40px;
    width: 300px;   
    min-height: 20px;      
    background-color: #4a77d4;   
    border: 1px solid #3762bc;   
    color: #fff;      
    font-size: 15px;   
    line-height: normal;   
    border-radius: 5px;   
    margin: 0;   
  }