body{
    background-image: url(../images/background1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

h1{
    color: white;
}

ul {
    list-style-type: none;
}

p{
    color: white;
}

img{

    height: 150px;
    width: 150px;

}

.side {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.side a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
}

.side a:hover {
    color: #f1f1f1;
}

.side li{
    color: white;
}

.chatarea{
    margin-left: 160px;
    display: none;
}

.displayarea {
    content: '';
    width: 80%;
    height: calc(100vh - 165px);
    background: black;
    padding: 5px 10px;
  }

.inputarea{
    width: 80%;
}

.displayarea p {
    margin: 0 0 5px 0;
  }

.sendImages {
	width: 12rem;
	margin-left: 14px;
}

.avatar {
	width: 2.2rem;
	height: 2.2rem;
	margin-left: 14px;
}

.button{
    position: absolute ;
    top: 91%;
    padding: 12px 20px;
    width: 150px;
    min-height: 20px;
    background-color: #a10bc7;
    border: 1px solid #3762bc;
    color: #fff;
    font-size: 15px;
    line-height: normal;
    border-radius: 5px;
    margin: 0;
}

.button1{
    position: absolute ;
    top: 91%;
    right: 10%;
    padding: 12px 20px;
    width: 150px;
    min-height: 20px;
    background-color: #a10bc7;
    border: 1px solid #3762bc;
    color: #fff;
    font-size: 15px;
    line-height: normal;
    border-radius: 5px;
    margin: 0;
}
