<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elec5619.recipeweb.mapper.ContactMapper">

    <resultMap id = "ContactMap" type="com.elec5619.recipeweb.bean.Contact">
        <id column="id" property="id"></id>
        <result column="studentid" property="studentid"></result>
        <result column="friendid" property="friendid"></result>
    </resultMap>


    <select id="findByStudentId" resultMap="ContactMap" parameterType="java.lang.String">
        select *
        from user_contact
        where studentid = #{studentid}
    </select>
    <select id="findByStudentIdAndFriendId" resultMap="ContactMap" parameterType="java.lang.String">
        select *
        from user_contact
        where studentid = #{studentid} and friendid = #{friendid}
    </select>

</mapper>
