<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elec5619.recipeweb.mapper.UserMapper">

    <resultMap id = "UserMap" type="com.elec5619.recipeweb.bean.User">
        <id column="uid" property="uid"></id>
        <result column="username" property="username"></result>
        <result column="password" property="password"></result>
        <result column="studentid" property="studentid"></result>
        <result column="birth" property="birth"></result>
        <result column="age" property="age"></result>
        <result column="avatar" property="avatar"></result>
        <result column="role" property="role"></result>
    </resultMap>

<!--    <insert id="insert" useGeneratedKeys="true" keyProperty="uid" parameterType="com.elec5619.recipeweb.bean.User">-->
<!--        insert into t_user (`username`, `password`, `phone`, `gender`, `avatar`, `is_delete`,-->
<!--                            `created_user`, `created_time`, `modified_user`, `modified_time`)-->
<!--        values ( #{username}, #{password}, #{phone}, #{gender}, #{avatar}, #{isDelete},-->
<!--                #{createdUser}, #{createdTime}, #{modifiedUser}, #{modifiedTime}-->
<!--               )-->
<!--    </insert>-->

    <select id="findByUsername" resultMap="UserMap" parameterType="java.lang.String">
        select *
        from t_user
        where username = #{username}
    </select>
    <select id="findStudentIdByUid" resultMap="UserMap" parameterType="java.lang.Integer">
        select *
        from t_user
        where uid = #{uid}
    </select>
    <select id="findByStudentid" resultMap="UserMap" parameterType="java.lang.String">
        select *
        from t_user
        where studentid = #{studentid}
    </select>

</mapper>
